// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td, th, a {
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.body {
    background: url(../assets/img/bg.png) no-repeat top center !important;
    width: 100% !important;
    z-index: 0;
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.container.header {
    background: #f3f3f3;
}

.body-drip {
    border-top: 8px solid #663399;
}

// Full Width Headers
.header {}

.header .columns {
    padding-bottom: 0;
}

.header p {
    color: #fff;
}

.header .wrapper-inner {
    padding: 20px;
}

.header .container {
    background: transparent;
}

// Social Media
table.button.facebook table td {
    background: #3B5998 !important;
    border-color: #3B5998;
}

table.button.twitter table td {
    background: #1daced !important;
    border-color: #1daced;
}

table.button.google table td {
    background: #DB4A39 !important;
    border-color: #DB4A39;
}

.wrapper.secondary {
    background: #f3f3f3;
}

.fs_p-normal {
    font-size: 14px;
    color: #465262;
    letter-spacing: 0;
    line-height: 27px;
}

h1 {
    font-size: 20px;
    color: #1b61db;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 2;
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.container {
    border-radius: 5px;
}

p {
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #465262;
    letter-spacing: 0;
    line-height: 27px;
}

.fs_browser {
    font-size: 12px;
    letter-spacing: -0.22px;
    line-height: 22px;

    a {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.23);
        padding-bottom: 5px;
        font-size: 11px;
        letter-spacing: 0.28px;
        line-height: 1;
    }
}

.fs_thumbnail {
    border-radius: 100px;
}

.fs_signature {
    padding: 0;
    margin: 0 auto;

    h3 {
        font-size: 18px;
        color: #465262;
        letter-spacing: -0.44px;
        line-height: 1;
        margin-top: 12px;
    }

    h5 {
        font-size: 14px;
        color: #B8C1CB;
        letter-spacing: -0.28px;
        margin-bottom: 0;
        line-height: 1;
    }

    li {
        list-style: none;
        display: inline-block;
    }
}

.fs_date {
    font-size: 16px;
    color: #B8C1CB;
    letter-spacing: -0.32px;
    line-height: 43px;
}

.fs_content {
    background: #FFFFFF;
    box-shadow: 0 0 17px 0 rgba(5, 25, 49, 0.14);
    border-radius: 4px;
}

.fs_share {
    text-align: center;
    padding: 0;

    li {
        display: inline-block;
        margin: 5px;
        list-style: none;
    }
}

.additional-info {
    font-size: 11px;
    color: #778F9B;
    letter-spacing: 0;
    line-height: 19px;
}

.unsubscribe {
    a {
        font-size: 13px;
        color: #465262;
        letter-spacing: 0;
        font-weight: 500;
        line-height: 19px;
    }
}

.hero-title {
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 12px;
}

.hero-text {
    opacity: 0.65;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.26px;
    line-height: 1;
    font-weight: 200;
}
